<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Условия доставки</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=0.2">
    <meta charset="utf-8">
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/dostavka.css" rel="stylesheet" />
    <link href="/css/hat.css" rel="stylesheet" />
    <link async href="~/css/footer.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700%7COpen+Sans:300,400,400i,700%7CPT+Sans&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
</head>
<body>
    @await Html.PartialAsync("../Partial/Hat", new string[3] { "href=/Index", "href=/Account/Input", "" })
    <div class="delivery-block">
        <div class="cell">
            <div class="delivery-block__item">
                <h2>Время доставки</h2>
                <img src="/pict/dostavka-1.jpg" alt="Время доставки обедов">
                <p>Бесплатная доставка от 300 рублей! Мы принимаем Ваши заказы до 20:00 ежедневно без выходных! Заказ, оформленный сегодня, будет доставлен Вам завтра в удобное для Вас время c 11:00 до 13:00 либо с 13:00 до 15:00</p>
            </div>
        </div>
        <div class="cell">
            <div class="delivery-block__item">
                <h2>Самовывоз</h2>
                <img src="/pict/dostavka-2.jpg" alt="Самовывоз обедов">
                <p>Скидка 15% при самовывозе! Сделав заказ сегодня, Вы сможете забрать его самостоятельно завтра с 08 до 18 часов по адресу: г. Томск, ул. Мокрушина, 9 стр. 31!</p>
            </div>
        </div>
        <div class="cell">
            <div class="delivery-block__item">
                <h2>Способы оплаты</h2>
                <img src="/pict/dostavka-3.jpg" alt="Способы оплаты обедов в офис">
                <p>Курьеру наличными. Банковскими картами on-line. Безналичный расчет со счёта организации. </p>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("../Partial/Footer")
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" async>
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(54680473, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true
        });</script>
    <noscript async><div><img src="https://mc.yandex.ru/watch/54680473" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144973198-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-144973198-1');</script>
</body>
</html>
