
@{
    Layout = null;
}

<html lang="ru">

<head>
    <title>Доставка еды и обедов в Томске</title>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="bXuLuXk6iYQwH7PwVTfLqZvfZsnO7Aw0qSC8-0TCIzI" />
    <meta name="viewport" content="width=device-width, initial-scale=0.2">
    <meta name="yandex-verification" content="851c6b426c45c0c2" />
    <meta name="description"
          content="Заказать обед очень просто: выберите понравившиеся блюда, укажите информацию о доставке и уже завтра мы доставим обед к вашему столу">
    <meta name="keywords" content="заказать обед, обед в офис, заказать еду, обед на дом, еда на дом, доставка еды">
    <meta name="robots" content="noyaca">
    <meta name="robots" content="noodp">
    <link async href="~/css/autokindeat.css" rel="stylesheet" type="text/css">
    <link async href="~/css/autolisteat.css" rel="stylesheet" type="text/css">
    <link async href="~/css/autoorder.css" rel="stylesheet" type="text/css">
    <link async href="~/css/index.css" rel="stylesheet" type="text/css" />
    <link async href="~/css/hat.css" rel="stylesheet" type="text/css" />
    <link async href="~/css/footer.css" rel="stylesheet" type="text/css" />
    <link async href="~/css/reset.css" rel="stylesheet" type="text/css" />
    <link async href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link async href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async src="//code.jquery.com/jquery-latest.js"></script>
    <script async src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
    <script async src="~/js/mousekindeat.js"></script>
    <script defer src="~/js/mouseday.js"></script>
    <script defer src="~/js/mouseproduct.js"></script>
    <script async src="~/js/mouseaddorder.js"></script>
</head>

<body onload="clickDay(0)">
    @await Html.PartialAsync("../Partial/Hat", new string[3] { "", "href=/Account/Input", "href=/Index/Delivery" })
    <div id="miniHat">
        <div><H1 id=minihat-word> ДОМАШНЯЯ КУХНЯ</H1></div>
        <div>
            <a>
                <div>
                    <img src="pict/minizakaz.png" alt="Заказать обед">
                </div>
                <h1>ЗАКАЗАТЬ ОБЕД</h1>
            </a>
        </div>
        <div>
            <a href="~/Account/Input">
                <div>
                    <img src="pict/miniaccount.png" alt="Войти">
                </div>
                <h1>ВОЙТИ</h1>
            </a>
        </div>
        <div>
            <a href="~/Index/Delivery">
                <div>
                    <img src="pict/minidostavka.png" alt="Доставка и оплата">
                </div>
                <h1>ДОСТАВКА И ОПЛАТА</h1>
            </a>
        </div>
        <div>
            <a href="~/html/contacts.html"><h1>КОНТАКТЫ</h1></a>
        </div>
    </div>
    <div class="view-main">
        <div id="kinds-eat">
            <!--GetKindsFood-->
        </div>
        <div id="eat">
            <div id="list-days" class="board1">
                @for (int i = 0; i < 7; i++)
                {
                    <div class="day" onClick="clickDay(@i)">
                        @Model.Date.GetListDay()[i]
                    </div>
                }
                <div class="left-btw"></div>
                <div class="center-btw"></div>
                <div class="right-btw"></div>
            </div>
            <div id="list-eat">
                <!--GetListFood-->
            </div>
        </div>
        <div id="order">
            <!--GetMiniBasket-->
        </div>
    </div>
    @await Html.PartialAsync("../Partial/Footer")
    <script src="//code.jquery.com/jquery-latest.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
    <script defer src="js/mouseday.js"></script>
    <script defer src="js/mousekindeat.js"></script>
    <script defer src="js/hat.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" async>
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(54680473, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true
        });</script>
    <noscript async>
        <div><img src="https://mc.yandex.ru/watch/54680473" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144973198-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-144973198-1');</script>
    <!-- Rating Mail.ru counter -->
    <script type="text/javascript">
        var _tmr = window._tmr || (window._tmr = []);
        _tmr.push({ id: "3147967", type: "pageView", start: (new Date()).getTime() });
        (function (d, w, id) {
            if (d.getElementById(id)) return;
            var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
            ts.src = "https://top-fwz1.mail.ru/js/code.js";
            var f = function () { var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s); };
            if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
        })(document, window, "topmailru-code");</script><noscript>
        <div>
            <img src="https://top-fwz1.mail.ru/counter?id=3147967;js=na"
                 style="border:0;position:absolute;left:-9999px;" alt="Top.Mail.Ru" />
        </div>
    </noscript>
    <!-- //Rating Mail.ru counter -->
</body>
</html>