<div id="footer">
    <table>
        <tr>
            <td>ИП Рогозина Наталия Александровна</td>
            <td>Россия, г. Томск, ул. Мокрушина, 9 стр. 31</td>
        </tr>
        <tr>
            <td>ИНН 701750417893</td>
            <td>время работы: ежедневно с 8:00 до 20:00</td>
        </tr>
        <tr>
            <td>ОГРН 319703100086577</td>
            <td>Телефон для связи:+7 3822 506-555</td>
        </tr>
        <a href="https://www.instagram.com/tomskeda.ru/" target="_blank"><img src="~/pict/instagram.png"></a>
        <a href="https://vk.com/obedvtomske" target="_blank"><img src="~/pict/vk.png"></a>
    </table>
</div>