@{
    var value = @Json.Serialize(Model.Product.GetProductOnId(Model.Cookie.Ids, Model.Cookie.Counts));
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Доставка обедов в Томске</title>
    <meta charset="utf-8">
    <link acync href="../css/reset.css" rel="stylesheet" type="text/css" />
    <link acync href="../css/hat.css" rel="stylesheet" type="text/css" />
    <link acync href="../css/footer.css" rel="stylesheet" type="text/css" />
    <link acync href="../css/order-send.css" rel="stylesheet" />
    <link acync href="../css/autoorder.css" rel="stylesheet" />
    <link acync href="../css/autolisteat.css" rel="stylesheet" />
    <script src="//code.jquery.com/jquery-latest.js"></script>
    <script src="../js/order-finish.js"></script>
    <script src="../js/hat.js"></script>
</head>
<body>
    @await Html.PartialAsync("../Partial/Hat", new string[3] { "href=../Index", "href=../Account/Input", "href=/html/delivery.html" })
    <div id="main-finish">
        <div id="eat-order">
            <div id="text-eat-order">
                Ваша корзина на @Model.Date.GetMenuOn(Model.Day)
            </div>
            <hr>
            <div id="list-eat-order">

            </div>
            <div id="full-price">

            </div>
            <div id="text-order-accepte">
                Спасибо! Ваша заявка принята. Мы свяжемся с вами в ближайшее время.
            </div>
        </div>
    </div>
    @await Html.PartialAsync("../Partial/Footer")
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>
        loadCookie(@value);
        scorePrice();
    </script>
</body>
</html>