@{
    var value = @Json.Serialize(Model.Products.GetProductOnId(Model.Cookie.Ids, Model.Cookie.Counts));
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Доставка обедов в Томске</title>
    <meta charset="utf-8">
    <link acync href="../css/reset.css" rel="stylesheet" type="text/css" />
    <link acync href="../css/order-send.css" rel="stylesheet" />
    <link acync href="../css/autoorder.css" rel="stylesheet" />
    <link acync href="../css/autolisteat.css" rel="stylesheet" />
    <script src="//code.jquery.com/jquery-latest.js"></script>
    <script src="../js/order-finish.js"></script>
    <script src="../js/hat.js"></script>
</head>
<body>
    <div id="hat">
        <div>
            <img src="../pict/logo.png" id="logo" alt="Главная" />
        </div>
        <div style="text-align:center;">
            <a href="../Index">
                <img src="../pict/zakaz.png" id="zakaz" alt="Заказать обед">
                <h3 id="hat-text-eat"> ЗАКАЗАТЬ ОБЕД </h3>
            </a>
        </div>
        <div style="text-align:center;">
            <a>
                <img src="../pict/banc.png" id="bancet" alt="Банкетные блюда ">
                <h3 id="hat-text-bancet"> БАНКЕТНЫЕ БЛЮДА </h3>
            </a>
        </div>
        <div style="text-align:center;">
            <a href="~/html/delivery.html">
                <img src="../pict/delivery_food.png" id="delivery-food" alt="Доставка и оплата">
                <h3 id="hat-text-pay"> ДОСТАВКА И ОПЛАТА </h3>
            </a>
        </div>
        <div style="line-height: 40px;">
            <div style="text-align:center;"><a class="work-time">ежедневно с 9:00 до 20:00</a></div>
            <div style="text-align:center;"><a class="phone-work-time">+7 (3822) 506-555</a></div>
            <div style="text-align:center;"><h3 style="margin:5px 0;"><a class="kont-work-time" href="contacts.html">КОНТАКТЫ</a></h3></div>
        </div>
    </div>
    <div id="main-finish">
        <div id="eat-order">
            <div id="text-eat-order">
                Ваша корзина на @Model.Date.GetMenuOn(Model.Day)
            </div>
            <hr>
            <div id="list-eat-order">

            </div>
            <div id="full-price">
               
            </div>
            <div id="text-order-accepte">
                Спасибо! Ваша заявка принята. Мы свяжемся с вами в ближайшее время.
            </div>
        </div>
    </div>
    <div id="footer">
        <table>
            <tr>
                <td>ИП Рогозина Наталия Александровна</td>
                <td>Россия, г. Томск, ул. Мокрушина, 9 стр. 31</td>
            </tr>
            <tr>
                <td>ИНН 701750417893</td>
                <td>время работы: ежедневно с 8:00 до 20:00</td>
            </tr>
            <tr>
                <td>ОГРН 319703100086577</td>
                <td>Телефон для связи:+7 3822 506-555</td>
            </tr>
            <a href="https://www.instagram.com/tomskeda.ru/" target="_blank"><img src="../pict/instagram.png"></a>
            <a href="https://vk.com/obedvtomske" target="_blank"><img src="../pict/vk.png"></a>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>
        loadCookie(@value);
        scorePrice();
    </script>
</body>
</html>