@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
html { 
    overflow:  hidden;  
}
body{
    background:#b6f2b9 !important; 
}
td{
    padding:1px 10px 1px 3px;
}
a{
    text-decoration:none;
}

#zakaz {
    pointer-events: none;
    cursor: default;
}

#account img {
    position: relative;
    right: 100.7%;
}

#account:hover img {
    right: 0px;
}

#delivery-food img{
    position:relative;
    right: 100px;
}

#delivery-food:hover img{
    right:0px;
}
#kinds-eat{
    background-color:white;
    margin: 8px 8px  0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.arrow-right{
    position: relative;
}
.arrow-right:after{
    position: absolute;
    content:"\27A4";
    top:-2px;
    right:calc(100% + 5px);
    color:orange;
}
#eat{
    margin: 8px 0 0 0;
    display:grid;
    grid-template-rows:50px 1fr;
    grid-gap:8px;
}
#list-days{
    width:auto;
    height:58px;
    background-color:white;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}
.day{
    background-color:white;
    padding:18px 10px 10px 10px;
    cursor: pointer;
    font-size:23px;
    font-weight:normal;
    font-family: 'Oswald';
    text-align: center;
    position:relative;
}
.day:not(:first-child){
    border-left:1.5px solid rgba(80, 85, 88, 0.1);
}
.day:first-child{
    border-top-left-radius: 15px;
}
.day:nth-last-child(4){
    border-top-right-radius: 15px;
}
.left-btw, .center-btw, .right-btw{
    position: absolute;
    border-color: white;
    top:91%;
}
.left-btw{
    width: 6%;
    height: 8%;
    border-bottom: 5px solid;
    border-bottom-color:#97cf9a;
    border-bottom-right-radius: 15px 5px;
}
.center-btw{
    width: 90%;
    height: 0;
    border-color: rgba(0,0,0,1);
    border-top: 5px solid;
    border-top-color:#97cf9a; 
    border-top-left-radius: 15px 5px;
    border-top-right-radius: 15px 5px;
    left:5%;
}
.right-btw{
    width: 6%;
    height: 8%;
    border-bottom: 5px solid;
    border-bottom-color:#97cf9a;
    border-bottom-left-radius: 15px 5px;
    left:94%;
}
#list-eat{
    min-width:auto;
    width:100%;
    height: -webkit-calc(100vh - 115px);
    background-color:white;
    overflow: auto;
}
#list-eat::-webkit-scrollbar{
    width:7px;
}
#list-eat::-webkit-scrollbar-track{
    background:#e0e0e0;
}
#list-eat::-webkit-scrollbar-thumb{
    background:#68B436;
    border-radius:200px;
}
#list-eat::-webkit-scrollbar-thumb:hover{
    background:green;
}
.product{
    min-width:auto;
    margin: 10px 2% 0 2%;
    background-color:white;
    border: 2px double #D3D3D3;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.view-main{
    max-width:1650px;
    min-width:1455px;
    margin:0 auto;
    display:grid;
    grid-template-columns:17% auto 17%;
    
}
#order{
    background-color:white;
    margin: 8px 8px 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}