@{ 
    var value = @Json.Serialize(Model.Products.GetProductOnId(Model.CookieId, Model.CookieCount));
}
<input name="day" type="hidden" value="@Model.Day">
<div id='date-orders'><a>@Model.Date.GetOrderOn(Model.Day)</a></div>
<div id="orders-list">
    <!--mouseaddorders.js-->
</div>
<div id="price-amount">
    <div class="full-price-order">Сумма:</div>
    <div class="full-price-order" align="right">0 ₽</div>
</div>
<div id="checkout">
    <a id="text-checkout">оформить заказ</a>
</div>
<script src="js/autoorder.js"></script>
<script type="text/javascript">
    loadCookie(@value)
</script>
